﻿<!DOCTYPE html>
<html>
<head>
    <title>login with oauth2 class</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="js/jquery-1.11.0.min.js"></script>
</head>
<body>
    @RenderBody()
    <script src="js/js-toolbox.js"></script>
    <script src="js/easeljs.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
