﻿@{
    Layout = "_layout.cshtml";
    // there will be an oauth2 no matter what to use in my page
    Oauth2 oauth2 = new Oauth2("486738286424-5cnbtalv9pe6206q9ebsklg37s7frhe2.apps.googleusercontent.com",
        "BBZprbJ6uDojZVCDNEQM1h8R", Request.Url.ToString(), Session);
    try
    {
        String sCode = Request["code"];
        if (sCode != null)
        {
            oauth2.HandleCode(sCode);
        }
        else if (Request["login"] != null)
        {
            oauth2.Redirect((HttpResponseWrapper)Response);
        }
        if (oauth2.sGoogleId == null)
        {
           Response.Redirect("/?login=true&redirect=amanda.cshtml");
        }
    }
    catch (Exception e)
    {
    <p>Error @e.Message</p>
    }
    finally
    {
        oauth2.Close();
    }
}
<div id="main" class="container">
    <canvas id="mainStage" width=800 height=450></canvas>
    <div style="display:none">
        <img src="~/images/basketball2.png" />
        <img src="~/images/racecar.png" />
        <img src="~/images/runner.png" />
    </div>

    <div class="wrapper" style="display:none;">
        <div class="well"><marquee behavior="scroll" direction="left" scrollamount="20">justin was here</marquee></div>
    </div>


</div>

<script type="text/javascript">
 
</script>



<!--drawing rectangle on canvas
<script>
    var canvas = document.getElementById('myCanvas');
    var ctx = canvas.getContext('2d');
    ctx.fillStyle = '#FF0000';
    ctx.fillRect(0, 0, 90, 600);
</script>-->