﻿@{
    Layout = "_indexlayout.cshtml";
    // there will be an oauth2 no matter what to use in my page
    Oauth2 oauth2 = new Oauth2("486738286424-5cnbtalv9pe6206q9ebsklg37s7frhe2.apps.googleusercontent.com",
        "BBZprbJ6uDojZVCDNEQM1h8R", Request.Url.ToString(), Session);
    try
    {
        String sCode = Request["code"];
        if (sCode != null)
        {
            oauth2.HandleCode(sCode);
        }
        else if (Request["login"] != null)
        {
            oauth2.Redirect((HttpResponseWrapper)Response);
            
            }
        if (oauth2.sGoogleId == null) {
            Response.Redirect("/?login=true&redirect=Ball.cshtml");
        }
    }
    catch (Exception e)
    {
    <p>Error @e.Message</p>
    }
    finally
    {
        oauth2.Close();
    }
}







<style>
#mainStage {
    margin: 10px auto;
    border: 3px solid blue;
    background-color: aliceblue;
}

</style>
    <div id="main"class="container">
    <canvas id="mainStage">
        <img id="flower" src="images/Flower.png" />
       
    </canvas>
    </div>
    <script>
        jQuery(document).ready(function () {

            //getting resources for the stage
            var Canvas = new createjs.Stage(document.getElementById("mainStage"));

            //var oFlower = new createjs.Bitmap(document.getElementById("flower"));
            
            oFlower = new createjs.Bitmap("/images/Flower.png");
            var Mess = new createjs.Text("Start Me by Clicking The Bee", "bold 36px Oswald", "red");
            var TxtFld = new createjs.Text("Click: 0 ", "24px Oswald", "#aaaaaa");
            var CountFld = new createjs.Text("Time Taken to Click: 0 ", "24px Oswald", "#7a4dff");
            Canvas.addChild(TxtFld);
            Canvas.addChild(CountFld);
            Canvas.addChild(oFlower);           
            TxtFld.x = 1;
            CountFld.x = Canvas.canvas.width / 1.7;
            Mess.y = 30;

            var Counter = 0;

            var data = {
                //framerate: 5,
                images: ["Images/filmbees3.fw.png"],
                frames: { width: 161, height: 223, regX: 11, regY: 5 },
                animations: { left: [0, 1, 2] }
            }

            var velX = 1;
            var spriteSheet = new createjs.SpriteSheet(data);
            var animation = new createjs.Sprite(spriteSheet, "left");
            Canvas.addChild(animation);
            animation.x = 0;
            Mess.x = 0;
            
           
            var countClk = 0;

            // to make stage responsive
            function Resize() {

                var oWidth = jQuery("#main").width();
                var oHeight = window.innerHeight;
               
                var widthRatio = 800;
                var heightRatio = 450;


                var scaleRatio = Math.min(oWidth/widthRatio, oHeight/heightRatio);

                Canvas.scaleX = scaleRatio;
                Canvas.scaleY = scaleRatio;

                Canvas.canvas.width = widthRatio * scaleRatio;
                Canvas.canvas.height = heightRatio * scaleRatio;
              
                Canvas.update();
                return scaleRatio;
            }

            window.addEventListener('resize', Resize, false);
            var arrayStopBol = true;
            Resize();

            screenScale = Resize();
            nWidth = Canvas.canvas.width / screenScale;
            nHeight = Canvas.canvas.height / screenScale;
            oFlower.x = 800 * .85;           

            
           
            oFlower.y = (450 / 8)*4;
            animation.y = (450/ 8) *3;
           
            
            Canvas.update();

           
            var LasTime = 0;
            var PauTime = 0;
            function handleTick(e) {

                var CurrTime = (Math.floor(createjs.Ticker.getTime(true) / 1000));
                var LasTime = (Math.floor(createjs.Ticker.getTime(false) / 1000));
                
               
                if (animation.x <= mainStage.width && !createjs.Ticker.getPaused()) {
                    updateVel(animation);
                    animation.x += Math.round(animation.velX);
                } else {
                    var TotTime = (LasTime - PauTime);
                    CountFld.text = "Time Taken to Click: Sec " + TotTime + "\n";
                    if (TotTime == 5) { Canvas.addChild(Mess); }
                }
                
                if (animation.x >= oFlower.x) {                   
                    //animation.x = 0; 
                    //location.reload();
                    gameOver();
                }
                //console.log("countOut " + i);
                //console.log(arrayStops[0], arrayStops[2], arrayStops[3]);
                var oAniWidth = 1;
               
                if ((!createjs.Ticker.getPaused()) && (((arrayStops[0] >= animation.x - oAniWidth) && (arrayStops[0] <= animation.x + oAniWidth)) || ((arrayStops[2] >= animation.x - oAniWidth) && (arrayStops[2] <= animation.x + oAniWidth)) || ((arrayStops[3] >= animation.x - oAniWidth) && (arrayStops[3] <= animation.x + oAniWidth)))) {
                    createjs.Ticker.setPaused(true);
                    PauTime = LasTime;
                }
                Canvas.update(e);
            }
            
            // *** START and GAME OVER *** //
            var Bg = new createjs.Shape();
            Bg.graphics.beginFill("rgba(0,0,0,0.8)").drawRect(0, 0, nWidth, nHeight);

            function gameOver() {
                createjs.Ticker.removeEventListener("tick", handleTick);
                Canvas.addChild(Bg);
                var gameOverTxt = new createjs.Text("Play Again", "100px Oswald", "#FFF");
                gameOverTxt.x = 200;
                gameOverTxt.y = 170;
                Canvas.addChild(gameOverTxt);
                jQuery("#mainStage").click(function () {
                    window.location.reload();
                });
            }


            function startScreen() {
                var startTxt = new createjs.Text("Start", "100px Oswald", "#FFF");
                startTxt.x = 300;
                startTxt.y = 170;
                Canvas.addChild(Bg);
                Canvas.addChild(startTxt);
                Canvas.update();
                jQuery("#mainStage").click(function () {
                    createjs.Ticker.addEventListener("tick", handleTick);
                    createjs.Ticker.setInterval(25);
                    createjs.Ticker.setFPS(20);
                    Canvas.removeChild(startTxt);
                    Canvas.removeChild(Bg);
                });
            }

            startScreen();

            // *** START and GAME OVER end *** //



            //creating array for random number for stops
            var arrayStops = new Array();
            for (var i = 0; i < 4; i++) {
                var Tem = (Math.floor(Math.random() * (Canvas.canvas.width*.9)));
                arrayStops.unshift(Tem);               
            }
            
            // to record click and add function click 
            var Clickscore = 0;

            animation.on("click", AddPause);
                   
            function AddPause() {

                if (createjs.Ticker.getPaused()) {
                    Clickscore++;
                }
                createjs.Ticker.setPaused(false);
                Canvas.removeChild(Mess);

                TxtFld.text = "Click: " + Clickscore + "\n";
                console.log(Clickscore);
                LasTime = 0;

            }

            animation.speed = Math.floor(Math.random() * 5 + 1);
            function updateVel(p) {
                p.velX = p.speed;
            }
        });
    </script>
