﻿@{
    Layout = "_indexlayout.cshtml";
}

<style>
    #mainStage {
        background-image:url('images/beach.jpg');

    }
    </style>

<div class="container">
    <h1>Bernard the Bouncing Bunny</h1>
  
  <canvas id="mainStage" width=800 height=700>
   
	 <img src="images/carrot.png" id="carrot" />
    </canvas>
     
</div>   
<script>
    jQuery(document).ready(function () {
        // bunny draw
        var data = {
            framerate: 8,
            images: ["images/bunnyhop.png"],
            frames: { width: 135, height: 129 },
            animations: { left: [0, 7] }

        }
        var stage = new createjs.Stage(document.getElementById("mainStage"));
        var spriteSheet = new createjs.SpriteSheet(data);
        var bunny = new createjs.Sprite(spriteSheet, "left");
       stage.addChild(bunny);
        createjs.Ticker.addEventListener("tick", stage);
        // carrot draw
        var carrot = new createjs.Bitmap(document.getElementById("carrot"));
        stage.addChildAt(carrot, 0);
        

        carrot.y = 595;
        carrot.x = 500;
        bunny.y = 580;
        bunny.x = 0;

        // SETTING UP SOUND
        createjs.Sound.registerPlugins([createjs.HTMLAudioPlugin]);
        console.log(createjs.Sound.activePlugin.toString());
        createjs.Sound.alternateExtensions = ["ogg"];
        var crunch = createjs.Sound.createInstance("sound/crunch2.mp3");
        crunch.addEventListener("complete", restart);
        var bPlaying = false;
        createjs.Ticker.addEventListener("tick", tick);

        function tick() {
           
            if (bunny.x >= carrot.x) {

                if (!bPlaying) {
                    crunch.play(createjs.Sound.INTERRUPT_ANY);
                    bunny.gotoAndStop(0);

                    bPlaying = true;
                }

            } else {
                bunny.x += 3;
            }
        }   
        function restart() {
            bunny.x = 0;
        }
        
    });
   


   
  
</script>   