﻿@{
    Layout = "_indexlayout.cshtml";
}

<style>
    #mainStage {
        background-image:url('images/forest2.jpg');

    }
    </style>

<div class="container">
    <h1>Jasper the Jumping Jelly Bean</h1>
  
  <canvas id="mainStage" width=800 height=700>
    
	
    
       <img id="purple" src="images/smiling-purple-jelly-bean.png" />
    </canvas>
</div>      
<script>


    $(document).ready(function () {
        var nDirection = 1;
        var stage = new createjs.Stage(document.getElementById("mainStage"));
        var bean = new createjs.Bitmap(document.getElementById('purple'));
        bean.scaleX = .38;
        bean.scaleY = .38;
        
        stage.addChild(bean);

        
       
        function tick() {
           
            var randomX = 12;// ((Math.random() * 12) + 1);
            var randomY = 30;//((Math.random() * 40) + 1);
            var randomHeight = ((Math.random() * stage.canvas.height / 5));
            bean.x += randomX;
            bean.y += randomY * nDirection;
            if (bean.y > stage.canvas.height - bean.getTransformedBounds().height) nDirection = -2;
            if (bean.y < randomHeight) nDirection = 2;
            stage.update();
            if (bean.x > stage.canvas.width) gameOver();
        }

        var oX = stage.canvas.width / 2;
        var oY = stage.canvas.height / 2;

        var nMaxHeight = stage.canvas.height / 2;
        var nMaxWidth = stage.canvas.width / 2;
        var nFactor = stage.canvas.height / 25;


        // *** START and GAME OVER *** //
        var Bg = new createjs.Shape();
        Bg.graphics.beginFill("rgba(0,0,0,0.8)").drawRect(0, 0, stage.canvas.width, stage.canvas.height);

        function gameOver() {
            createjs.Ticker.removeEventListener("tick", tick);
            stage.addChild(Bg);
            var gameOverTxt = new createjs.Text("Play Again", "100px Oswald", "#FFF");
            gameOverTxt.x = oX - 200;
            gameOverTxt.y = oY - 50;
            stage.addChild(gameOverTxt);
            jQuery("#mainStage").click(function () {
                window.location.reload();
            });
            stage.update();
        }

        function startScreen() {
            var startTxt = new createjs.Text("Start", "100px Oswald", "#FFF");
            startTxt.x = oX - 110;
            startTxt.y = oY - 50;
            stage.addChild(Bg);
            stage.addChild(startTxt);
            stage.update();
            jQuery("#mainStage").click(function () {
                createjs.Ticker.addEventListener("tick", tick);
                
                createjs.Ticker.setFPS(20);
                stage.removeChild(startTxt);
                stage.removeChild(Bg);
            });
        }

        startScreen();

    })
</script>