﻿@{
    Layout = "_indexlayout.cshtml";
    // there will be an oauth2 no matter what to use in my page
    Oauth2 oauth2 = new Oauth2("486738286424-5cnbtalv9pe6206q9ebsklg37s7frhe2.apps.googleusercontent.com",
        "BBZprbJ6uDojZVCDNEQM1h8R", Request.Url.ToString(), Session);
    try
    {
        String sCode = Request["code"];
        if (sCode != null)
        {
            oauth2.HandleCode(sCode);
        }
        else if (Request["login"] != null)
        {
            oauth2.Redirect((HttpResponseWrapper)Response);
        }
        if (oauth2.sGoogleId == null)
        {
           // Response.Redirect("/?login=true&redirect=darrin.cshtml");
        }
    }
    catch (Exception e)
    {
    <p>Error @e.Message</p>
    }
    finally
    {
        oauth2.Close();
    }
}

<style>
    #mainStage {
        background-image: url("images/project-background.png");
        max-width: 80%;
        background-size: contain;
    }

   



    h1 {
        color: #0099CC;
    }
    </style>



<div id="mainPanel" class="container"><h1>Sea and Match</h1>
<canvas id="mainStage" width=2560 height=1600>

    <!-- loading images in the canvas -->
    <img id="background" src="images/project-background.png" />
    <img id="starfishObject" src="images/project-starfish.png" />
    <img id="turtleObject" src="images/project-turtle.png" />
    <img id="seaLionObject" src="images/project-sea-lion.png" />
    <img id="sharkObject" src="images/project-shark.png" />
    <img id="sqiudObject" src="images/project-squid.png" />
    <img id="whiteFishObject" src="images/project-whitefish.png" />
    <img id="stingrayObject" src="images/project-stingray.png" />
    <img id="yellowFishObject" src="images/project-yellowfish.png" />
    <img id="squidCopyObject" src="~/images/project-squid%20-%20Copy.png" />
    <img id="turtleCopyObject" src="~/images/project-turtle%20-%20Copy.png" />
    </canvas>
    </div>

<script>
    // the stage that i add children to is the canvas
    jQuery(document).ready(function () {
        createjs.Bitmap.prototype.hitTestObject = function (oObject) {
            // first we have to calculate the
            // center of each rectangle and half of
            // width and height
            var rect1 = this.getTransformedBounds();
            var rect2 = oObject.getTransformedBounds();
            var dx, dy, r1 = {}, r2 = {};
            r1.cx = rect1.x + (r1.hw = (rect1.width / 2));
            r1.cy = rect1.y + (r1.hh = (rect1.height / 2));
            r2.cx = rect2.x + (r2.hw = (rect2.width / 2));
            r2.cy = rect2.y + (r2.hh = (rect2.height / 2));

            dx = Math.abs(r1.cx - r2.cx) - (r1.hw + r2.hw);
            dy = Math.abs(r1.cy - r2.cy) - (r1.hh + r2.hh);

            if (dx < 0 && dy < 0) {
                dx = Math.min(Math.min(rect1.width, rect2.width), -dx);
                dy = Math.min(Math.min(rect1.height, rect2.height), -dy);
                return {
                    x: Math.max(rect1.x, rect2.x),
                    y: Math.max(rect1.y, rect2.y),
                    width: dx,
                    height: dy,
                    rect1: rect1,
                    rect2: rect2
                };
            } else {
                return null;
            }
        }
        var stage = new createjs.Stage(document.getElementById('mainStage'));
        var oX = stage.canvas.width / 2;
        var oY = stage.canvas.height / 2;
        function startScreen() {
            var Bg = new createjs.Shape();
            Bg.graphics.beginFill("rgba(255,0,0,0.8)").drawRect(0, 0, stage.canvas.width, stage.canvas.height);
            var startTxt = new createjs.Text("Start", "100px Oswald", "#0099CC");
            startTxt.x = oX - 110;
            startTxt.y = oY - 50;
            stage.addChild(Bg);
            stage.addChild(startTxt);
            stage.update();
            jQuery("#mainStage").click(function () {
                createjs.Ticker.addEventListener("tick", tick);
                createjs.Ticker.setInterval(25);
                createjs.Ticker.setFPS(20);
                stage.removeChild(startTxt);
                stage.removeChild(Bg);

               // jQuery("document").ready(function () {
                  //  var nRadius = 5;

                function resizeWindow() {
                    var nWidth = jQuery("#mainStage").width();
                    var position = jQuery("#mainStage").position();
                    var nHeight = jQuery(window).height() - position.top;

                    nRadius = 5;

                    document.getElementById("#mainStage").width = nWidth;
                    document.getElementById("#mainStage").height = nHeight;
                }

               

                var oBitmap2 = new createjs.Bitmap(document.getElementById('starfishObject'));
                oBitmap2.scaleX = .1;
                oBitmap2.scaleY = .1;
                oBitmap2.x = Math.random()*(stage.canvas.width - oBitmap2.getTransformedBounds().width);
                oBitmap2.y = Math.random() * (stage.canvas.height - oBitmap2.getTransformedBounds().height);
                stage.addChild(oBitmap2);
                stage.update();

                var oBitmap2 = new createjs.Bitmap(document.getElementById('turtleObject'));
                oBitmap2.scaleX = .6;
                oBitmap2.scaleY = .6;
                oBitmap2.x = Math.random() * (stage.canvas.width - oBitmap2.getTransformedBounds().width);
                oBitmap2.y = Math.random() * (stage.canvas.height - oBitmap2.getTransformedBounds().height);
                stage.addChild(oBitmap2);
                stage.update();

                var oBitmap2 = new createjs.Bitmap(document.getElementById('seaLionObject'));
                oBitmap2.scaleX = .6;
                oBitmap2.scaleY = .6;
                oBitmap2.x = Math.random() * (stage.canvas.width - oBitmap2.getTransformedBounds().width);
                oBitmap2.y = Math.random() * (stage.canvas.height - oBitmap2.getTransformedBounds().height);
                stage.addChild(oBitmap2);
                stage.update();

                var oBitmap2 = new createjs.Bitmap(document.getElementById('sharkObject'));
                oBitmap2.scaleX = .6;
                oBitmap2.scaleY = .6;
                oBitmap2.x = Math.random() * (stage.canvas.width - oBitmap2.getTransformedBounds().width);
                oBitmap2.y = Math.random() * (stage.canvas.height - oBitmap2.getTransformedBounds().height);
                stage.addChild(oBitmap2);
                stage.update();

                var oBitmap2 = new createjs.Bitmap(document.getElementById('sqiudObject'));
                oBitmap2.scaleX = .6;
                oBitmap2.scaleY = .6;
                oBitmap2.x = Math.random() * (stage.canvas.width - oBitmap2.getTransformedBounds().width);
                oBitmap2.y = Math.random() * (stage.canvas.height - oBitmap2.getTransformedBounds().height);
                stage.addChild(oBitmap2);
                stage.update();

                var oBitmap2 = new createjs.Bitmap(document.getElementById('whiteFishObject'));
                oBitmap2.scaleX = .6;
                oBitmap2.scaleY = .6;
                oBitmap2.x = Math.random() * (stage.canvas.width - oBitmap2.getTransformedBounds().width);
                oBitmap2.y = Math.random() * (stage.canvas.height - oBitmap2.getTransformedBounds().height);
                stage.addChild(oBitmap2);
                stage.update();

                var oBitmap2 = new createjs.Bitmap(document.getElementById('stingrayObject'));
                oBitmap2.scaleX = .3;
                oBitmap2.scaleY = .3;
                oBitmap2.x = Math.random() * (stage.canvas.width - oBitmap2.getTransformedBounds().width);
                oBitmap2.y = Math.random() * (stage.canvas.height - oBitmap2.getTransformedBounds().height);
                stage.addChild(oBitmap2);
                stage.update();

                var oBitmap2 = new createjs.Bitmap(document.getElementById('yellowFishObject'));
                oBitmap2.scaleX = .4;
                oBitmap2.scaleY = .4;
                oBitmap2.x = Math.random() * (stage.canvas.width - oBitmap2.getTransformedBounds().width);
                oBitmap2.y = Math.random() * (stage.canvas.height - oBitmap2.getTransformedBounds().height);
                stage.addChild(oBitmap2);
                stage.update();

                var oBitmap2 = new createjs.Bitmap(document.getElementById('squidCopyObject'));
                oBitmap2.scaleX = .9;
                oBitmap2.scaleY = .9;
                oBitmap2.x = Math.random() * (stage.canvas.width - oBitmap2.getTransformedBounds().width);
                oBitmap2.y = Math.random() * (stage.canvas.height - oBitmap2.getTransformedBounds().height);
                stage.addChild(oBitmap2);
                stage.update();

                var oBitmap2 = new createjs.Bitmap(document.getElementById('turtleCopyObject'));
                oBitmap2.scaleX = .5;
                oBitmap2.scaleY = .5;
                oBitmap2.x = Math.random() * (stage.canvas.width - oBitmap2.getTransformedBounds().width);
                oBitmap2.y = Math.random() * (stage.canvas.height - oBitmap2.getTransformedBounds().height);
                stage.addChild(oBitmap2);
                overlapDetection();
                stage.update();

                

            });
        }

        function overlapDetection() {
            //overlap detection
            var boverLap = false;
            for (var n = 0; n < stage.children.length; n++) {
                var oChild = stage.children[n];
                for (var m = 0; m < stage.children.length; m++) {
                    if (m != n && oChild.hitTestObject(stage.children[m])) {
                        boverLap = true;
                        oChild.x = Math.random() * (stage.canvas.width - oChild.getTransformedBounds().width);
                        oChild.y = Math.random() * (stage.canvas.height - oChild.getTransformedBounds().height);
                        
                    }
                }

            }
            if (boverLap) overlapDetection();
        }

        function tick() {
        }

        startScreen();

    });
   
    

    </script>

