﻿@{
    Layout = "_indexlayout.cshtml";
    // there will be an oauth2 no matter what to use in my page
    Oauth2 oauth2 = new Oauth2("486738286424-5cnbtalv9pe6206q9ebsklg37s7frhe2.apps.googleusercontent.com",
        "BBZprbJ6uDojZVCDNEQM1h8R", Request.Url.ToString(), Session);
    try
    {
        String sCode = Request["code"];
        if (sCode != null)
        {
            oauth2.HandleCode(sCode);
            if(oauth2.sReturnUrl != null)
            {
                Response.Redirect(oauth2.sReturnUrl);
            }
        }
        else if (Request["login"] != null)
        {
            oauth2.sReturnUrl = "/";
            if(Request["redirect"] != null)
            {
                oauth2.sReturnUrl = Request["redirect"];
            }
            oauth2.Redirect((HttpResponseWrapper)Response);
        }
        else if (Request["logout"] != null)
        {
            oauth2.Logout();
            Response.Redirect(".");
        }
    }
    catch (Exception e)
    {
    <p>Error @e.Message</p>
    }
    finally
    {
        oauth2.Close();
    }
}
<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Eye Tracking Games</h1>
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
       @if (oauth2.sGoogleId == null){
            <a href="?login=true"><div class="well well-lg"> 
              <div class="row">
                      <div class="col-sm-11"><h2><i class="icon-large icon-google-plus"></i>&nbsp;my games</h2></div>
                <div class="col-sm-12">
                </div>
              </div>
            </div></a>
       }else{
            <a href="?logout=true"><div class="well well-lg"> 
              <div class="row">
                      <div class="col-sm-11"><h2><i class="icon-large icon-eject"></i>&nbsp;logout</h2></div>
                <div class="col-sm-12">
                </div>
              </div>
            </div></a>
              
       }
			
      </div>
    </div> 
  </div><!-- /cont -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
</div>

<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
          
          
            @if (oauth2.sGoogleId != null)
            {
                
                <div class="col-md-6">
                    <div class="col-md-3 col-sm-3 text-center">
                        <a class="story-title" href="sinecurve.cshtml">
                            <img alt="ball tracking game preview" src="images/sinecurvepreview.png" style="width: 100px; height: 100px" class="img-circle"></a>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <h3>Sine Curve Tracking</h3>
                        <div class="row">
                            <div class="col-xs-9">
                                <h4><span class="label label-default">Lee Aldridge</span></h4>
                                <h4>
                                    <small style="font-family: courier,'new courier';" class="text-muted">April 25th, 2014  • <a href="sinecurve.cshtml" class="text-muted">Play Now</a></small>
                                </h4>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="col-md-3 col-sm-3 text-center">
                        <a class="story-title" href="sinecurve2.cshtml">
                            <img alt="ball tracking game preview" src="images/flyingpreview.png" style="width: 100px; height: 100px" class="img-circle"></a>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <h3>Flying</h3>
                        <div class="row">
                            <div class="col-xs-9">
                                <h4><span class="label label-default">Lee Aldridge</span></h4>
                                <h4>
                                    <small style="font-family: courier,'new courier';" class="text-muted">May 7th, 2014  • <a href="sinecurve2.cshtml" class="text-muted">Play Now</a></small>
                                </h4>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="col-md-3 col-sm-3 text-center">
                        <a class="story-title" href="Ball.cshtml">
                            <img alt="click the bee game preview" src="images/beegamepreview.png" style="width: 100px; height: 100px" class="img-circle"></a>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <h3>Click the Bee</h3>
                        <div class="row">
                            <div class="col-xs-9">
                                <h4><span class="label label-default">Sibghat Qazi</span></h4>
                                <h4>
                                    <small style="font-family: courier,'new courier';" class="text-muted">April 25th, 2014  • <a href="Ball.cshtml" class="text-muted">Play Now</a></small>
                                </h4>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="col-md-3 col-sm-3 text-center">
                        <a class="story-title" href="darrin.cshtml">
                            <img alt="sea and match game preview" src="images/seaandmatchpreview.png" style="width: 100px; height: 100px" class="img-circle"></a>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <h3>Sea and Match</h3>
                        <div class="row">
                            <div class="col-xs-9">
                                <h4><span class="label label-default">Darrin Hickey</span></h4>
                                <h4>
                                    <small style="font-family: courier,'new courier';" class="text-muted">April 24th, 2014  • <a href="darrin.cshtml" class="text-muted">Play Now</a></small>
                                </h4>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="col-md-3 col-sm-3 text-center">
                        <a class="story-title" href="lee.cshtml">
                            <img alt="ball tracking game preview" src="images/balltrackpreview.png" style="width: 100px; height: 100px" class="img-circle"></a>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <h3>Ball Tracking Game</h3>
                        <div class="row">
                            <div class="col-xs-9">
                                <h4><span class="label label-default">Lee Aldridge</span></h4>
                                <h4>
                                    <small style="font-family: courier,'new courier';" class="text-muted">April 16th, 2014  • <a href="lee.cshtml" class="text-muted">Play Now</a></small>
                                </h4>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
            } 

                <div class="col-md-6">
                    <div class="col-md-3 col-sm-3 text-center">
                        <a class="story-title" href="Sentences.cshtml">
                            <img alt="sentence game preview" src="images/sentencepreview.png" style="width: 100px; height: 100px" class="img-circle"></a>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <h3>Sentences</h3>
                        <div class="row">
                            <div class="col-xs-9">
                                <h4><span class="label label-default">Amanda McIntosh</span></h4>
                                <h4>
                                    <small style="font-family: courier,'new courier';" class="text-muted">April 24th, 2014  • <a href="Sentences.cshtml" class="text-muted">Play Now</a></small>
                                </h4>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>



                <div class="col-md-6">
                    <div class="col-md-3 col-sm-3 text-center">
                        <a class="story-title" href="mike.cshtml">
                            <img alt="dragonfly game preview" src="images/dragonflypreview.png" style="width: 100px; height: 100px" class="img-circle"></a>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <h3>Dragonfly</h3>
                        <div class="row">
                            <div class="col-xs-9">
                                <h4><span class="label label-default">Mike Teglas</span></h4>
                                <h4>
                                    <small style="font-family: courier,'new courier';" class="text-muted">April 24th, 2014  • <a href="mike.cshtml" class="text-muted">Play Now</a></small>
                                </h4>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="col-md-3 col-sm-3 text-center">
                        <a class="story-title" href="christina.cshtml">
                            <img alt="jumping bean game preview" src="images/jumpingbeanpreview.png" style="width: 100px; height: 100px" class="img-circle"></a>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <h3>Jasper the Jumping Jelly Bean</h3>
                        <div class="row">
                            <div class="col-xs-9">
                                <h4><span class="label label-default">Christina Gooyers</span></h4>
                                <h4>
                                    <small style="font-family: courier,'new courier';" class="text-muted">April 23rd, 2014  • <a href="christina.cshtml" class="text-muted">Play Now</a></small>
                                </h4>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>

                
                <div class="col-md-6">
                    <div class="col-md-3 col-sm-3 text-center">
                        <a class="story-title" href="Mahmood.cshtml">
                            <img alt="moving basketball game preview" src="images/movingbasketballpreview.png" style="width: 100px; height: 100px" class="img-circle"></a>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <h3>Moving Basketball</h3>
                        <div class="row">
                            <div class="col-xs-9">
                                <h4><span class="label label-default">Mahmood Al-Juboori</span></h4>
                                <h4>
                                    <small style="font-family: courier,'new courier';" class="text-muted">April 23rd, 2014  • <a href="Mahmood.cshtml" class="text-muted">Play Now</a></small>
                                </h4>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>

                

                <div class="col-md-6">
                    <div class="col-md-3 col-sm-3 text-center">
                        <a class="story-title" href="justin.cshtml">
                            <img alt="expanding circle game preview" src="images/expandingcirclepreview.png" style="width: 100px; height: 100px" class="img-circle"></a>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <h3>Expanding Circle</h3>
                        <div class="row">
                            <div class="col-xs-9">
                                <h4><span class="label label-default">Justin Schlumkoski</span></h4>
                                <h4>
                                    <small style="font-family: courier,'new courier';" class="text-muted">April 16th, 2014  • <a href="justin.cshtml" class="text-muted">Play Now</a></small>
                                </h4>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
             <div class="col-md-6">
                    <div class="col-md-3 col-sm-3 text-center">
                        <a class="story-title" href="bunnyhop.cshtml">
                            <img alt="bunny hop game preview" src="images/bunnyedit0003.png" style="width: 100px; height: 100px" class="img-circle"></a>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <h3>Bunny Hop</h3>
                        <div class="row">
                            <div class="col-xs-9">
                                <h4><span class="label label-default">Christina Gooyers</span></h4>
                                <h4>
                                    <small style="font-family: courier,'new courier';" class="text-muted">May 2nd, 2014  • <a href="bunnyhop.cshtml" class="text-muted">Play Now</a></small>
                                </h4>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
         
          <!-- <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a> -->
        
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>
