﻿@{
    Layout = "_indexlayout.cshtml";
}

<div class="container">
    <h1>Ball on Lines</h1>

    <div id="mainPanel">
        <canvas id="mainStage"></canvas>
    </div>
</div>

<script type= "text/javascript">
    jQuery("document").ready(function () {

        function resizeWindow() {
            var nWidth = jQuery('#mainPanel').width();
            var position = jQuery('#mainPanel').position();
            var nHeight = jQuery(window).height() - position.top;

            document.getElementById('mainStage').width = nWidth;
            document.getElementById('mainStage').height = nHeight;
        }

        jQuery(window).resize(resizeWindow);

        resizeWindow();

        var stage = new createjs.Stage(document.getElementById("mainStage"));

        var dot = new createjs.Shape();
        dot.graphics.beginFill("#000").drawCircle(0, 0, 10);

        var midX = stage.canvas.width / 2;
        var midY = stage.canvas.height / 2;

        var xFactor = stage.canvas.width / 6;
        var yFactor = stage.canvas.height / 4;

        var lineHeights = [yFactor, yFactor * 3, yFactor, yFactor * 3, yFactor];

        var oLine = new createjs.Shape();
        var oX = stage.canvas.width / 6;

        var posX = stage.canvas.width / 6;
        var posY = stage.canvas.height / 4;

        var distX = xFactor;
        var distY = yFactor * 2;
        var slopeY = distY / distX;

        // create countdown timer text
        var Bg = new createjs.Shape();
        Bg.graphics.beginFill("rgba(0,0,0,0.8)").drawRect(0, 0, stage.canvas.width, stage.canvas.height);
        stage.addChild(Bg);
        // countdown timer stops at 0 and calls tick function

        function gameOver() {
            createjs.Ticker.removeEventListener("tick", tick);
            stage.addChild(Bg);
            var gameOverTxt = new createjs.Text("Play Again", "100px Oswald", "#FFF");
            gameOverTxt.x = midX - 200;
            gameOverTxt.y = midY - 50;
            stage.addChild(gameOverTxt);
            jQuery("#mainStage").click(function () {
                window.location.reload();
            });
            stage.update();
        }

        function startScreen() {
            var startTxt = new createjs.Text("Start", "100px Oswald", "#FFF");
            startTxt.x = midX - 100;
            startTxt.y = midY - 50;
            stage.addChild(Bg);
            stage.addChild(startTxt);
            stage.update();
            jQuery("#mainStage").click(function () {
                createjs.Ticker.addEventListener("tick", tick);
                createjs.Ticker.setInterval(25);
                createjs.Ticker.setFPS(20);
                stage.removeChild(startTxt);
                stage.removeChild(Bg);
            });
        }

        drawLines();
        startScreen();

        function tick() {
            stage.addChild(dot);
            dot.x = posX;
            dot.y = posY;

            posX++;

            if (posX < xFactor * 2) {
                posY += slopeY;
            }
            else if (posX >= xFactor * 2 && posX < xFactor * 3) {
                posY -= slopeY;
            }
            else if (posX >= xFactor * 3 && posX < xFactor * 4) {
                posY += slopeY;
            }
            else if (posX >= xFactor * 4 && posX < xFactor * 5) {
                posY -= slopeY;
            }
            else if (posX >= xFactor * 5) {
                gameOver();
            }

            stage.update();
        }

        function drawLines() {
            for (n = 0; n < lineHeights.length; n++) {

                oLine.graphics.beginStroke("#000");
                oLine.graphics.moveTo(oX, lineHeights[n]);

                oX += xFactor;

                oLine.graphics.lineTo(oX, lineHeights[n + 1]);

                stage.addChild(oLine);
                stage.update();

            }
        }
    });
</script>
</body>
</html>
