﻿@{
    Layout = "_indexlayout.cshtml";
}

<div class="container">
    <h1>Expanding Circle</h1>

    <div id="mainPanel">
        <canvas id="mainStage"></canvas>
    </div>
</div>

<script type= "text/javascript">
    jQuery("document").ready(function () {
        var nRadius = 5;

        function resizeWindow() {
            var nWidth = jQuery('#mainPanel').width();
            var position = jQuery('#mainPanel').position();
            var nHeight = jQuery(window).height() - position.top;

            nRadius = 5;

            document.getElementById('mainStage').width = nWidth;
            document.getElementById('mainStage').height = nHeight;
        }

        jQuery(window).resize(resizeWindow);

        resizeWindow();

        var stage = new createjs.Stage(document.getElementById("mainStage"));

        var oX = stage.canvas.width/2;
        var oY = stage.canvas.height/2;

        var nMaxHeight = stage.canvas.height / 2;
        var nMaxWidth = stage.canvas.width / 2;
        var nFactor = stage.canvas.height / 25;

        // create countdown timer text
        var Bg = new createjs.Shape();
        Bg.graphics.beginFill("rgba(0,0,0,0.8)").drawRect(0, 0, stage.canvas.width, stage.canvas.height);
        stage.addChild(Bg);
        // countdown timer stops at 0 and calls tick function
        
        function gameOver() {
            createjs.Ticker.removeEventListener("tick", tick);
            stage.addChild(Bg);
            var gameOverTxt = new createjs.Text("Play Again", "100px Oswald", "#FFF");
            gameOverTxt.x = oX - 200;
            gameOverTxt.y = oY - 50;
            stage.addChild(gameOverTxt);
            jQuery("#mainStage").click(function () {
                window.location.reload();
            });
            stage.update();
        }

        function startScreen() {
            var startTxt = new createjs.Text("Start", "100px Oswald", "#FFF");
            startTxt.x = oX - 100;
            startTxt.y = oY - 50;
            stage.addChild(Bg);
            stage.addChild(startTxt);
            stage.update();
            jQuery("#mainStage").click(function () {
                createjs.Ticker.addEventListener("tick", tick);
                createjs.Ticker.setInterval(25);
                createjs.Ticker.setFPS(20);
                stage.removeChild(startTxt);
                stage.removeChild(Bg);
            });
        }

        startScreen();
        
        function tick() {
            createjs.Ticker.setFPS(2);
            if (nRadius <= nMaxWidth && nRadius <= nMaxHeight) {
                var oCircle = new createjs.Shape();
                oCircle.graphics.moveTo(oX, oY);
                oCircle.graphics.beginFill(getRandomColor());
                oCircle.graphics.drawCircle(oX, oY, nRadius);
                stage.addChildAt(oCircle, 0);
                stage.update();
                nRadius += nFactor;
            } else {
                gameOver();
            }
        }

        function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
    });
</script>
