﻿@{
    Layout = "_indexlayout.cshtml";
    // there will be an oauth2 no matter what to use in my page
    Oauth2 oauth2 = new Oauth2("486738286424-5cnbtalv9pe6206q9ebsklg37s7frhe2.apps.googleusercontent.com",
        "BBZprbJ6uDojZVCDNEQM1h8R", Request.Url.ToString(), Session);
    try
    {
        String sCode = Request["code"];
        if (sCode != null)
        {
            oauth2.HandleCode(sCode);
        }
        else if (Request["login"] != null)
        {
            oauth2.Redirect((HttpResponseWrapper)Response);
        }
        if (oauth2.sGoogleId == null){
            Response.Redirect("/?login=true&redirect=lee.cshtml");
        }
    }
    catch (Exception e)
    {
    <p>Error @e.Message</p>
    }
    finally
    {
        oauth2.Close();
    }
}

<style>
    #mainStage {
        background-color: white;
    }

    #speedVal, #sizeVal {
        text-align: center;
    }

   .ui-slider .ui-slider-range {
        background:url(images/red.gif);
        background-position: top 30px center;
    }

    .ui-slider .ui-slider-handle {
        border-radius: 40%;
        border-style: outset;
        border-width: 3px;
        
    }

    .sliding {
        -webkit-box-shadow: inset 0px 7px 5px -4px rgba(0,0,0,0.81);
        -moz-box-shadow: inset 0px 7px 5px -4px rgba(0,0,0,0.81);
        box-shadow: inset 0px 7px 5px -4px rgba(0,0,0,0.81);
    }
</style>


<div id="main" class="container">
    <canvas id="mainStage" width=800 height=450>
	
    </canvas>
    <div id="sliderContainer">
        <h2 id="speedVal">Speed: 1</h2>
        <div id="speedSlider" class="sliding"></div>
        <h2 id="sizeVal">Ball Size: Tiny</h2>
        <div id="sizeSlider" class="sliding"></div>
    </div>
</div>

<script>

    $(document).ready(function () {

        var stage = new createjs.Stage(document.getElementById("mainStage"));

        var targetArray = new Array();

        var aFills = ["rgba(255,0,0,1)", "rgba(255,255,0,1)", "rgba(0,255,0,1)", "rgba(0,255,255,1)", "rgba(0,0,255,1)", "rgba(0,0,0,1)"];
        var aLocs = [50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750];


        function onResize() {
            // browser viewport size
            var w = jQuery("#main").width();
            var h = window.innerHeight;

            // stage dimensions
            var ow = 800; // my stage width
            var oh = 450; // my stage height

            // KEEP ASPECT RATIO
            var scale = Math.min(w / ow, h / oh);
            stage.scaleX = scale;
            stage.scaleY = scale;

            // adjust canvas size
            stage.canvas.width = ow * scale;
            stage.canvas.height = oh * scale;

            stage.update()
            return scale;
        }
        

        // listener for screen resize
        window.onresize = function () {
            onResize();
        }
        // END RESIZING	

        onResize();

        screenScale = onResize();
        nWidth = stage.canvas.width / screenScale;
        nHeight = stage.canvas.height / screenScale;
        console.log("Scale: " + screenScale);
        
        // SETTING UP SOUND
        createjs.Sound.registerPlugins([createjs.HTMLAudioPlugin]);
        console.log(createjs.Sound.activePlugin.toString());
        createjs.Sound.alternateExtensions = ["ogg"];

        var dot = new createjs.Shape();
        dot.graphics.beginFill("#000").drawCircle(0, 0, 10);

        

        var speedSelect = function () {
            var speed = $("#speedSlider").slider("value");
            return speed;
        }

        var sizeSelect = function () {
            var size = $("#sizeSlider").slider("value");
            console.log("size slider position: " + size);
            return size;
        }

        $("#speedSlider").slider({
            //value: 10,
            min: 1,
            max: 10,
            step: 1,
            range: "min",
            animate: "slow",
            slide: function (event, ui) {
                var speed = $("#speedSlider").slider("value");
                $("#speedVal").text("Speed: " + ui.value);
                console.log("Speed in function: " + speed);
                speedSelect();
            }
        });

        $("#sizeSlider").slider({
            //value: 1,
            min: 0.5,
            max: 2,
            step: 0.5,
            range: "min",
            animate: "slow",
            slide: function (event, ui) {
                var size = $("#sizeSlider").slider("value");
                switch (ui.value) {
                    case 0.5:
                        $("#sizeVal").text("Ball Size: Tiny");
                        break;
                    case 1:
                        $("#sizeVal").text("Ball Size: Small");
                        break;
                    case 1.5:
                        $("#sizeVal").text("Ball Size: Medium");
                        break;
                    case 2:
                        $("#sizeVal").text("Ball Size: Large");
                        break;
                }
                //$("#sizeVal").text("Ball Size: " + ui.value);
                sizeSelect();
            }
        });

        var lines = new createjs.Shape();
        stage.addChild(lines);

        lines.graphics.beginStroke("#000");

        for (var n = 0; n < 15; n++) {
            var target = new createjs.Shape();
            target.graphics.beginFill("#f00").drawCircle(0, 0, 20);
            targetArray.push(target);
        }

        
        // draw the lines
        for (i = 100; i < 500; i += 150) {
            lines.graphics.moveTo(0, i);
            lines.graphics.lineTo(800, i);   
        }


        //shuffle array
        function shuffle(o) { 
            for (var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
            return o;
        };

        var aChosen = shuffle(aLocs);
        //console.log(aChosen);
        var len = targetArray.length;

        for (var n = 0; n < len; n++) {
            targetArray[n].x = aChosen[n];
            if (n >= 0 && n < 5) targetArray[n].y = 100;
            if (n >= 5 && n < 10) targetArray[n].y = 250;
            if (n >= 10) targetArray[n].y = 400;
            stage.addChild(targetArray[n]);

            //console.log("n: " + aChosen[n]);
            //console.log("y: " + targetArray[n].y);
        }
        
        var instructions = new createjs.Text("press spacebar or click", "24px Oswald", "#000000");
        instructions.x = 550;
        instructions.y = 20;

        var score = 0;
        var attempts = -1;
        
        var scoreTxt = new createjs.Text("", "24px Oswald", "#000000");
        scoreTxt.x = 20;
        scoreTxt.y = 20;

        stage.addChild(scoreTxt);
        stage.addChild(instructions);
        
        var updateScore = function () {
            var accuracy = 100;
            accuracy = ((score / attempts) * 100);
            accuracy = accuracy.toFixed(1);
            if (accuracy == "NaN") accuracy = 100;
            scoreTxt.text = "Hits: " + score + "   Misses: " + (attempts - score) + "   Accuracy: " + accuracy + "%";
            //console.log("Attempts: " + attempts);
            //console.log("Accuracy: " + ((score/attempts) * 100)) + "%25";
        }


        stage.update();

        // *** START and GAME OVER *** //
        var Bg = new createjs.Shape();
        Bg.graphics.beginFill("rgba(0,0,0,0.8)").drawRect(0, 0, nWidth, nHeight);

        function gameOver() {
            createjs.Ticker.removeEventListener("tick", tick);
            stage.addChild(Bg);
            var gameOverTxt = new createjs.Text("Play Again", "100px Oswald", "#FFF");
            gameOverTxt.x = 200;
            gameOverTxt.y = 170;
            stage.addChild(gameOverTxt);
            jQuery("#mainStage").click(function () {
                window.location.reload();
            });
        }


        function startScreen() {
            var startTxt = new createjs.Text("Start", "100px Oswald", "#FFF");
            startTxt.x = 300;
            startTxt.y = 170;
            stage.addChild(Bg);
            stage.addChild(startTxt);
            stage.update();
            jQuery("#mainStage").click(function () {
                createjs.Ticker.addEventListener("tick", tick);
                createjs.Ticker.setInterval(25);
                createjs.Ticker.setFPS(20);
                stage.removeChild(startTxt);
                stage.removeChild(Bg);
            });
        }      
        
        startScreen();

        // *** START and GAME OVER end *** //

        recycleDot = function (dot) {
            if (dot.y == 100 && dot.x >= 810) {
                dot.y = 250;
                dot.x = 0;
            }
            if (dot.y == 250 && dot.x >= 810) {
                dot.y = 400;
                dot.x = 0;
            }
            if (dot.y == 400 && dot.x >= 810) {
                gameOver();
            }
            stage.addChild(dot);
        }

        stage.addChild(dot);

        dot.y = 100;
        dot.x = -10;

        var bAlreadyDown = false;

        var ding = createjs.Sound.createInstance("sound/ding.mp3");
        var buzz = createjs.Sound.createInstance("sound/buzz.mp3");

        function checkHit() {
            var missed = true;
            for (var n = 0; n < targetArray.length; n++) {
                if (targetArray[n].x <= (dot.x + 15) && targetArray[n].x >= (dot.x - 15) && targetArray[n].y == dot.y) {
                    ding.play(createjs.Sound.INTERRUPT_ANY);
                    targetArray[n].scaleX = 0.3;
                    targetArray[n].scaleY = 0.3;
                    score++;
                    missed = false;
                }
            }
            if (missed == true && dot.x > 0 && dot.x < 800) {
                buzz.play(createjs.Sound.INTERRUPT_ANY);
            }
            updateScore();
        }

        // listen for key down events
        window.onkeydown = function (e) {

            if (e.keyCode == 32 && bAlreadyDown == false) {
                bAlreadyDown = true;
                attempts++;
                //console.log("X: " + dot.x + " Y: " + dot.y);
                checkHit();
            }
            //updateScore();
            return false;
        } // end keydown
        
        window.onkeyup = function (e) {
            if (e.keyCode == 32 && bAlreadyDown == true) {
                bAlreadyDown = false;
            }
            return false;
        }

        $("#mainStage").click(function () {
            attempts++;
            checkHit();
        });


        /// TICK!!! ///	
        function tick() {
            speed = speedSelect();
            dot.scaleX = sizeSelect();
            dot.scaleY = sizeSelect();

            console.log("Ball speed: " + speed);
            dot.x += speed;

            // check if ball has passed and user has not made an attempt to count it as a miss
            for (var n = 0; n < targetArray.length; n++) {
                if (dot.x > (targetArray[n].x + 20) && targetArray[n].scaleX == 1 && dot.y == targetArray[n].y) {
                    targetArray[n].scaleX = 1.1;
                    targetArray[n].scaleY = 1.1;
                    attempts++;
                    updateScore();   
                }
            }

            if (dot.x > 810) {
                recycleDot(dot);
            }

            // update the stage:
            stage.update();
        } // end tick
    });
</script>