﻿@{
    Layout = "_layout.cshtml";
}
<div class="container">
    <h1> Basketball</h1>

    <div id="mainDiv" >
        <canvas id="playGround" style=" border-color:blue; border-width:3px;"></canvas>
    </div>
</div>

<script type= "text/javascript">
    jQuery("document").ready(function () {
        //create the stage and add players
        var stage = new createjs.Stage(document.getElementById("playGround"));
        var playerArray = new Array(7);
        var moveBool = false;
        var currentPlayer = 0;
        var data; var spriteSheet
        var passed = false;
        //create first player (with animation)
        createPlayer(0, 8);
        //create others
        for (var i = 1; i < 7; i++) {
            createPlayer(i, 1);
        }
        //Add the ball and hide it behind the first player
        ball = new createjs.Bitmap("/images/basketball.png");
        ball.x = 16; ball.y = 48;
        createjs.Ticker.addEventListener("tick", tick);
        createjs.Ticker.setInterval(75);
        tick();
        setPositions();
        //Set players positions
        function setPositions() {
            playerArray[0].x = playerArray[0].y = playerArray[2].y = playerArray[4].y = playerArray[6].y = 0;
            playerArray[1].y = playerArray[3].y = playerArray[5].y = 300;
            playerArray[1].x = 75; playerArray[2].x = 200; playerArray[3].x = 325;
            playerArray[4].x = 450; playerArray[5].x = 575; playerArray[6].x = 700;
        }
        
        for (var i = 0; i < 7; i++)
            stage.addChild(playerArray[i]);
        //stage.addChild(ball);
        var speedx = 1;
        var slope = 0;
        var dX, dY;

        function createPlayer(playerNumber, frameNumber)
        {
            if (frameNumber == 1) {
                data = {
                    images: ["/images/player.png"],
                    frames: { width: 130, height: 130 },
                    animations: { run: [1, 1], jump: { frames: [1], next: "run", speed: 0.1 } }
                };
            } else {
                data = {
                    images: ["/images/player.png"],
                    frames: { width: 130, height: 130 },
                    animations: { run: [0, 3], jump: { frames: [4, 5, 6, 7], next: "run", speed: 0.1 } }
                };
            }
            spriteSheet = new createjs.SpriteSheet(data);
            playerArray[playerNumber] = new createjs.Sprite(spriteSheet, "run");
            playerArray[playerNumber].addEventListener('click', onClick);
            playerArray[playerNumber].addEventListener('mousemove', onMouseover);
        }

        function onMouseover(event) {
            if (!moveBool) {
                event.target.style.cursor = "pointer";
            }
        }
        //var r = Math.floor((Math.random() * 7));
        function onClick(event) {
            if (!moveBool &&(event.target.x==playerArray[currentPlayer].x)) {
                passed = true;
                //clear stage
                while (stage.children.length > 0) {
                    var child = stage.getChildAt(0);
                    stage.removeChild(child);
                }
                for (var i = 0; i < 7; i++) {
                    createPlayer(i, 1);
                }
                setPositions();
                //add players to the stage
                for (var i = 0; i < 7; i++)
                    stage.addChild(playerArray[i]);
                //add the ball
                ball = new createjs.Bitmap("/images/basketball.png");
                ball.x = playerArray[currentPlayer].x + 16;
                ball.y = playerArray[currentPlayer].y + 48;
                stage.addChild(ball);
                stage.update();
                //get the position of the clicked (target) player
                dX = playerArray[currentPlayer + 1].x + 16; dY = playerArray[currentPlayer+1].y + 48; // 16 and 48 where added to reach the player's hand
                var diffX = dX - ball.x;
                var diffY = dY - ball.y;

                if (diffX < 0)
                    speedx = -1;
                else
                    if (diffX == 0) {
                        speedx = 0;
                        if (diffY < 0)
                            slope = -1;
                        else
                            slope = 1;
                    }
                    else
                        speedx = 1;
                if (diffY < 0)
                    slope = -1;
                else
                    slope = 1;
                if (diffX != 0)
                    slope = slope * Math.abs(diffY / diffX);
                moveBool = true;
                if (currentPlayer == 6)
                    currentPlayer = 0;
                else
                    currentPlayer += 1;
                //currentPlayer = (currentPlayer == 6) ? 0 : +1;
                tick();
            }
        }

        window.onresize = function () {
            onResize();
        }

        function tick(event) {

            if (moveBool) {//to move the ball from player to another one and to denay access to the others
                if ((ball.x != dX || ball.y != dY)) {
                    ball.x += speedx * 5;
                    ball.y += slope * 5;
                    stage.update();
                }
                else {
                    moveBool = false;// allow click another payer
                    tick();// to update the movement of the target payer
                }
            }
            else {
                if (passed)
                {
                    createPlayer(currentPlayer, 8);// animate the player when he gets the ball
                    playerArray[currentPlayer].x =  ball.x - 16; playerArray[currentPlayer].y = ball.y - 48;
                    stage.addChild(playerArray[currentPlayer]);
                    passed = false;
                }
                stage.update();
                //setInterval(function () {stage.update()}, 1000);
            }
        }

        function onResize() {
            // browser viewport size
            var w = window.innerWidth;
            var h = window.innerHeight;

            // stage dimensions
            var ow = 800; // your stage width
            var oh = 600; // your stage height

            // keep aspect ratio
            var scale = Math.min(w / ow, h / oh);
            stage.scaleX = stage.scaleY = scale;

            // adjust canvas size
            stage.canvas.clientWidth = stage.canvas.width = ow * scale;
            stage.canvas.clientHeight = stage.canvas.height = oh * scale;
            // update the stage
            stage.update()
        }
        onResize();
    });
</script>