﻿@{
    Layout = "_layout.cshtml";
    // there will be an oauth2 no matter what to use in my page
    Oauth2 oauth2 = new Oauth2("486738286424-5cnbtalv9pe6206q9ebsklg37s7frhe2.apps.googleusercontent.com",
        "BBZprbJ6uDojZVCDNEQM1h8R", Request.Url.ToString(), Session);
    try
    {
        String sCode = Request["code"];
        if (sCode != null)
        {
            oauth2.HandleCode(sCode);
        }
        else if (Request["login"] != null)
        {
            oauth2.Redirect((HttpResponseWrapper)Response);
        }
        if (oauth2.sGoogleId == null)
        {
            Response.Redirect("/?login=true&redirect=rich.cshtml");
        }
    }
    catch (Exception e)
    {
    <p>Error @e.Message</p>
    }
    finally
    {
        oauth2.Close();
    }
}
<h1>Rich Rocks!</h1>