﻿@{
    Layout = "_indexlayout.cshtml";

    var sIds = "[";
    var n = 0;

    var sSQL = "SELECT * FROM Sentences";
    var Model = Database.Open("SentenceContext").Query(sSQL);
}
<div class="container">
    <center style="font-size:7em; ">Sentences</center>
    <br />
    <h2 id="tts">Click the "Next" button below when you are finished reading the sentence.</h2><iframe id="ttsReader" width="0" height="0" style="display: none;"></iframe>
    <br />
    <a href=# target id="ttsLink" style="font-size: 3em"
       onclick="document.getElementById('ttsReader').src='http://translate.google.com/translate_tts?tl=en&q='+encodeURIComponent(document.getElementById('tts').innerHTML)">
        <img style="width:10%;"src="~/images/audio.jpg" /></a>
    <br />   
    <br />
    @foreach (var sentence in Model)
    {
        if (n != 0)
        {
            sIds += ",";
        }
        sIds += @sentence.ID;
        <div id="@sentence.ID" class="wrapper" style="display:none;">
            <div class="well"><marquee behavior="scroll" direction="left" scrollamount="17"><div style="font-size: 3em; white-space: nowrap;">@sentence.Sentences</div></marquee></div>
        </div>
        n++;
    }
    @{
        sIds += "];";
    }
    <form style="float: right; font-size:2em;">
        <input type="button" value="Next" onclick="window.location.reload()">
    </form>
</div>
<script>
    jQuery(document).ready(function () {
        var aIds = @sIds
        var n = Math.floor(Math.random() * aIds.length);
        jQuery("#" + aIds[n]).attr("style", "display:block");
        console.log(n);
    });
</script>
