﻿@{
    Layout = "_indexlayout.cshtml";
    // there will be an oauth2 no matter what to use in my page
    Oauth2 oauth2 = new Oauth2("486738286424-5cnbtalv9pe6206q9ebsklg37s7frhe2.apps.googleusercontent.com",
        "BBZprbJ6uDojZVCDNEQM1h8R", Request.Url.ToString(), Session);
    try
    {
        String sCode = Request["code"];
        if (sCode != null)
        {
            oauth2.HandleCode(sCode);
        }
        else if (Request["login"] != null)
        {
            oauth2.Redirect((HttpResponseWrapper)Response);
        }
        if (oauth2.sGoogleId == null){
            Response.Redirect("/?login=true&redirect=sinecurve.cshtml");
        }
    }
    catch (Exception e)
    {
    <p>Error @e.Message</p>
    }
    finally
    {
        oauth2.Close();
    }
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/easeljs.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<style>
    #mainStage {
        background-color: white;
    }

    #speedVal, #sizeVal {
        text-align: center;
    }
    .ui-slider .ui-slider-range {
        background:url(images/red.gif);
        background-position: top 30px center;
    }

    .ui-slider .ui-slider-handle {
        border-radius: 40%;
        border-style: outset;
        border-width: 3px;
        
    }

    .sliding {
        -webkit-box-shadow: inset 0px 7px 5px -4px rgba(0,0,0,0.81);
        -moz-box-shadow: inset 0px 7px 5px -4px rgba(0,0,0,0.81);
        box-shadow: inset 0px 7px 5px -4px rgba(0,0,0,0.81);
    }
</style>

<div id="main" class="container">
    <canvas id="mainStage" width=800 height=450>
	
    </canvas>
    <div id="sliderContainer">
        <h2 id="speedVal">Speed: 1</h2>
        <div id="speedSlider" class="sliding"></div>
        <h2 id="sizeVal">Ball Size: Tiny</h2>
        <div id="sizeSlider" class="sliding"></div>
    </div>
</div>

<script>

    $(document).ready(function () {

   // var stage = new createjs.Stage(document.getElementById("mainStage"));
    var stage = new createjs.Stage(document.getElementById("mainStage"));

    var aLocX = new Array();
    var targetArray = new Array();

    var dot = new createjs.Shape();
    dot.graphics.beginFill("#000").drawCircle(0, 0, 10);
    

    var x = 0;
    var amplitude = 50;
    var animFlag;


    function onResize() {
        // browser viewport size
        var w = jQuery("#main").width();
        var h = window.innerHeight;

        // stage dimensions
        var ow = 800; // my stage width
        var oh = 450; // my stage height

        // KEEP ASPECT RATIO
        var scale = Math.min(w / ow, h / oh);
        stage.scaleX = scale;
        stage.scaleY = scale;

        // adjust canvas size
        stage.canvas.width = ow * scale;
        stage.canvas.height = oh * scale;

        stage.update()
        return scale;
    }


    // listener for screen resize
    window.onresize = function () {
        onResize();
    }
    // END RESIZING	

    onResize();

    screenScale = onResize();
    nWidth = stage.canvas.width / screenScale;
    nHeight = stage.canvas.height / screenScale;
    //console.log("Scale: " + screenScale);

    var clickTxt = new createjs.Text("", "24px Oswald", "#F00");
    var timerTxt = new createjs.Text("Time: 0", "24px Oswald", "#000000");
    timerTxt.x = 20;
    timerTxt.y = 20;
    var timeTaken = 0;
    stage.addChild(timerTxt);
    

    for (var i = 0; i < 3; i++) {
        var target = new createjs.Shape();
        target.graphics.beginFill("#fff").drawCircle(0, 0, 0.1);
        targetArray.push(target);
        console.log("targetX: " + targetArray[i].x);
    }

    var placeTargets = function () {
        for (var n = 0; n < aLocX.length; n++) {
            stage.addChild(targetArray[n]);
            targetArray[n].x = aLocX[n];
            targetArray[n].y = 200;
            targetArray[n].scaleX = 1;
            targetArray[n].scaleY = 1;
        }
    }

    var generateX = function () {
        for (var i = 0; i < 3; i++) {
            var rndX = Math.floor(Math.random() * 800);
            aLocX.push(rndX);
            //console.log("random X value: " + rndX);
        }
        console.log("aLocX: " + aLocX);
        aLocX.sort(function (a, b) { return a - b });
        console.log("sorted array: " + aLocX);
        
        placeTargets();
    }

    generateX();
    stage.addChild(dot);

    // *** START and GAME OVER *** //
    var Bg = new createjs.Shape();
    Bg.graphics.beginFill("rgba(0,0,0,0.8)").drawRect(0, 0, nWidth, nHeight);

    function gameOver() {
        createjs.Ticker.removeEventListener("tick", tick);
        stage.addChild(Bg);
        var gameOverTxt = new createjs.Text("Play Again", "100px Oswald", "#FFF");
        gameOverTxt.x = 200;
        gameOverTxt.y = 170;
        stage.addChild(gameOverTxt);
        jQuery("#mainStage").click(function () {
            window.location.reload();
        });
    }


    function startScreen() {
        var startTxt = new createjs.Text("Start", "100px Oswald", "#FFF");
        startTxt.x = 300;
        startTxt.y = 170;
        stage.addChild(Bg);
        stage.addChild(startTxt);
        stage.update();
        jQuery("#mainStage").click(function () {
            createjs.Ticker.addEventListener("tick", tick);
            createjs.Ticker.setInterval(25);
            createjs.Ticker.setFPS(20);
            stage.removeChild(startTxt);
            stage.removeChild(Bg);
        });
    }

    startScreen();

    // *** START and GAME OVER end *** //
    

    var speedSelect = function () {
        var speed = $("#speedSlider").slider("value");
        return speed;
    }

    var sizeSelect = function () {
        var size = $("#sizeSlider").slider("value");
        //console.log("size slider position: " + size);
        return size;
    }

    $("#speedSlider").slider({
        //value: 10,
        min: 1,
        max: 10,
        step: 1,
        range: "min",
        animate: "slow",
        slide: function (event, ui) {
            var speed = $("#speedSlider").slider("value");
            $("#speedVal").text("Speed: " + ui.value);
            //console.log("Speed in function: " + speed);
            speedSelect();
        }
    });

    $("#sizeSlider").slider({
        //value: 1,
        min: 0.5,
        max: 2,
        step: 0.5,
        range: "min",
        animate: "slow",
        slide: function (event, ui) {
            var size = $("#sizeSlider").slider("value");
            switch (ui.value) {
                case 0.5:
                    $("#sizeVal").text("Ball Size: Tiny");
                    break;
                case 1:
                    $("#sizeVal").text("Ball Size: Small");
                    break;
                case 1.5:
                    $("#sizeVal").text("Ball Size: Medium");
                    break;
                case 2:
                    $("#sizeVal").text("Ball Size: Large");
                    break;
            }
            //$("#sizeVal").text("Ball Size: " + ui.value);
            sizeSelect();
        }
    });

    recycleDot = function (dot) {
        if (dot.x >= 810) {
            dot.x = 0;
            x = 0;
            amplitude += 40;
            console.log("amplitude: " + amplitude);
            if (amplitude >= 140) {
                gameOver();
            }
        }
    }
    
    function updateTimer() {
        if (timeTaken % 30 == 0) {
            timerTxt.text = "Time: " + timeTaken / 30;
        }
        if (timerTxt.text == "Time: 5") {
            stage.addChild(clickTxt);
            if (dot.x > 680) {
                clickTxt.x = dot.x - 115;
            } else {
                clickTxt.x = dot.x + 20;
            }
            clickTxt.y = dot.y - 10;
            clickTxt.text = "Start me!";
        }
    }
    
    

    
    var stopped = false;

    /// TICK!!! ///	
    function tick(e) {
        speed = speedSelect();
        dot.scaleX = sizeSelect();
        dot.scaleY = sizeSelect();

        //console.log("Ball speed: " + speed);
        for (var n = 0; n < aLocX.length; n++) {
            if (dot.x >= aLocX[n] && targetArray[n].scaleX == 1) {
                
                targetArray[n].scaleX = 1.1;
                targetArray[n].scaleY = 1.1;
                stopped = true;
                //console.log("Passed one. " + dot.x);
                console.log("aLocX: " + aLocX + " dot.x: " + dot.x);
                //console.log("targetArray: " + targetArray);
            }
            if (stopped) {
                timeTaken++;
                updateTimer();
                $(dot).click(function () {
                    stage.removeChild(clickTxt);
                    timeTaken = 0;
                    stopped = false;
                    console.log("GO!!!");
                });
            }
        }

        $("#mainStage").click(function () {
            createjs.Ticker.setPaused(true);
        });
 
        // Find the sine of the angle
        var y = Math.sin(x * Math.PI / 180);

        // If the sine value is positive, map it above y = 100 (multiplied value is for amplitude, both values must be the same below)
        if (y >= 0) {
            y = 200 - (y - 0) * amplitude;
        }

        // If the sine value is negative, map it below y = 100
        if (y < 0) {
            y = 200 + (0 - y) * amplitude;
        }

        // Increment the angle.
        if (stopped == false) {
            x += speed;
        }

        dot.x = x;
        dot.y = y;
      //  console.log("X: " + x);
      //  console.log("Y: " + y);


        if (dot.x > 810) {
            recycleDot(dot);
            aLocX = [];
            for (var i = 0; i < targetArray.length; i++) {
                targetArray[i].scaleX = 1;
                targetArray[i].scaleY = 1;

            }
            generateX();
        }

        // update the stage:
        stage.update();
    } // end tick

    });
</script>